@media (min-width: 1024px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    .justify-content-md-end {
        justify-content: flex-end;
    }

    .menu-bar-hamburger {
        display: none;
    }

    .menu-bar-list a {
        padding-left: 20px;
    }

    .col-md-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }

}

@media (min-width: 770px) and (max-width: 1023px) {
    .header > .container {
        padding: 0 30px;
    }

    .nav-bar > .container {
        padding: 15px 15px;
    }

    .nav-bar > .container > a {
        font-size: 23px;
    }

    .background-content > h1 {
        font-size: 50px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .col-md-6 {
        width: 100%;
        justify-content: space-between; 
    }

    .menu-bar {
        order: 15;
        width: 100%;
        display: none;
    }

    .nav-bar > .container {
        padding-left: 0;
        padding-right: 0;
        flex-wrap: wrap;    
        max-width: 100%;
    }

    .nav-bar > .container > a {
        padding-left: 15px;
    }

    .nav-bar > .container > .menu-bar-cart {
        padding-right: 15px;
    }

    .menu-bar-list {
        flex-direction: column;
        background-color: var(--black);
        justify-content: center;
        margin-right: auto;
        text-align: left;
        width: 100%;
        margin-top: 15px;
        padding-left: 15px;
        font-size: 14px;
    }

    .menu-bar-list a {
        padding-left: 0;
    }

    .menu-bar-item {
        padding: 15px 0;
    }

    .nav-bar > .container > a {
        font-size: 20px;
    }

    .background-content{
        top: 40%;
    }

    .background-content > h1 {
        font-size: 40px;
    }
}



@media (min-width: 768px) {
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 426px) {
    .menu-bar-hamburger {
        margin-left: 0;
    }

    .background-content{
        top: 40%;
        
    }

    .background-content > h1 {
        font-size: 45px;
        text-align: center;
    }
}