* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
}

.header {
    width: 100%;
    position: relative;
    background-color: var(--orange);
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.reg p a{
    font-size: 16px;
}

.header__left--content {
    line-height: 30px;
}

.header__left--content > span,
.header__left--content > a {
    color: var(--main-rgba);
    font-size: 12px;
    text-decoration: none;
}

.header__line-height {
    line-height: 30px;
}

.header__line-height a {
    padding-left: 10px;
    color: var(--white-light);
    font-size: 12px;
    text-decoration: none;
}

.social-media p {
    width: 100%;
    margin-left: -10px;
}

.reg {
    margin-left: 15px;
}

.reg p a {
    font-size: 13px;
}

.nav-bar {
    width: 100%;
    position: absolute;
    z-index: 3;
}

.nav-bar-logo {
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: none;
    position: relative;
    font-weight: 600;
}

.nav-bar-logo {
    color: var(--white-near);
}

.nav-bar-logo span {
    color: var(--white-half) ;
}

.nav-bar > .container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 15px 0;
}

.menu-bar-cart {
    display: inline-flex;
    order: 13;
}

.menu-bar {
    display: flex;
    flex-basis: auto;
    align-items: center;
}

.menu-bar-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: auto;
}


.menu-bar-item a {
    color: var(--white-near);
    text-decoration: none;
    padding-left: 50px;
    text-transform: uppercase;
}

.menu-bar-item a:hover {
    color: white;
}

.menu-bar-cart i {
    color: var(--white-near);
}

.menu-bar-cart i:hover {
    color: white;
    cursor: pointer;
}

.menu-bar-hamburger {
    color: var(--white-near);
    margin-left: -120px;
}

.main-background {
    position: relative;
    width: 100%;
    height: 750px;
    background: url(/Shoes_project/assets/img/background.jpg) top center / cover no-repeat;
    z-index: 0;
}

.background-content{
    position: absolute;
    font-family: 'Dancing Script', cursive;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    width: 100%;
}

.background-content > h1 {
    font-size: 60px;
    color: white;
    text-align: center;
}

.background-content-more {
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.background-content-more-option {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-decoration: none;
    padding: 15px 15px;
    margin: 0 10px;
    display: inline-block;
    background-color: var(--orange);
    border-radius: 3px;
    font-weight: 600;
}

.background-content-more-option:hover {
    background-color: var(--orange-light) ;
}

.about-option {
    background-color: transparent;
    border: 0.5px solid var(--white-light);
}

.about-option:hover {
    background-color: var(--orange);
}

.intro-content {
    background-color: var(--orange);
}

.intro {
    padding: 30px;
}

.intro .intro-icon {
    font-size: 50px;
    color: var(--white-light);
    margin-right: 20px;
}

.intro .intro-text > h2 {
    color: var(--white-light);
    margin-bottom: 15px;
    font-weight: 800;
}

.intro .intro-text > p {
    color: var(--white-half);
}

.des-content {
    padding: 6rem 0;
}

.des-background {
    position: relative;
    width: 100%;
    background: url(/Shoes_project/assets/img/des-background.jpg) top center / cover no-repeat;
    
}

.des-content-text-sub {
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
    color: var(--orange);
}

.des-content-text > h2 {
    font-size: 40px;
    font-weight: 700;
}

.des-content-text p {
    margin-top: 10px;
    text-align: justify;
    word-spacing: 5px;
}

.year {
    margin-top: 20px;
    font-size: 20px;
}

.number {
    color: var(--orange);
    font-size: 50px;
}

.product-content {
    position: relative;
    padding-bottom: 6rem;
}

.product-all-circle {
    width: 130px;
    height: 130px;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}



.product-all > h2 {
    margin-top: 15px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}



